#topcontainer {
    background: url("../images/backgrounds/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #mouseclick {
    position: absolute;
    bottom: 12px
  }
  #toUs {
    padding: 20px;
    background: url("../images/backgrounds/s_image.jpg")
  }
  #portfolio div img {
    width: 100%;
  }
  #portfolio div {
    padding: 10px;
  }

